body{
    background: white url("images/background.jpg");
}

.navbar{
    border-radius: 0;       /* Removes the built in rounding of the top navbar to give a more modern look */
}

.navbar-brand {
    font-family: 'Lobster', cursive;        /* Sets the brand/logo font to the imported Lobster or if that CDN(content delivery network) cant be reached it sets to the default cursive */
}
